{% extends 'base.html' %}

{% block title %}Cities list{% endblock %}

{% block content %}
    <h1>City</h1>
    <div class="row">
        <div class="col-md">
            <p> City name: {{ city.name }} </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <a href="{% url 'cities:home' %}">
                <button type="button" class="btn btn-primary">Back</button>
            </a>
        </div>
            <div class="col-md-2">
                <a href="{% url 'cities:delete' pk=city.pk %}">
                    <button type="button" class="btn btn-danger">Delete</button>
                </a>
            </div>
        </div>
{% endblock %}